body {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  text-align: center;
  width: 500px;
  padding: 4px;
  border: solid 3px rgb(160, 43, 43);
  border-radius: 5px;
  box-shadow: 4px 3px 2px rgb(114, 87, 87);
}

label {
  min-width: 100px;
  display: inline-block;
  font-size: 1.2rem;
}

.row {
  margin: 4px;
}

h1 {
  text-align: center;
}

.back {
  font-size: 20px;
  color: red;
}
